header {
  background-image: url(../img/header.jpg);
  height: 42em;
  background-size: 100% 100%;
}
header nav ul {
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  right: 2em;
}
header nav ul li {
  float: left;
  list-style: none;
  padding-right: 1.5em;
}
footer {
  background-color: rgb(51, 51, 51);
  padding: 1em 0;
  color: #fff;
  text-align: center;
}
.logo {
  padding-left: 2em;
  display: inline-block;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
}
.logo a {
  text-decoration: none;
  color: #fff;
}
.logo span {
  display: none;
}
.menu li a {
  text-decoration: none;
  color: gray;
  display: block;
}
.menu li a:hover {
  color: #fff;
}
.menuBox {
  background-color: rgb(51, 51, 51);
}
.menu-bar {
  display: none;
}
.sectionStyle {
  float: none !important;
  margin: 0 auto;
  overflow: hidden;
  display: table;
}
.sectionStyle img {
  border-radius: 100%;
  width: 80%;
  height: auto;
  margin-left: 2.3em;
  
}
.sectionText {
 margin-top: 7%;
 display: table-cell;
 vertical-align: middle;
}
.sectionText h2 {
  font-weight: 300;
  font-size: 2.5em;
  padding-bottom: 0.4em;
}
.title {
  margin-top: 14%;
  color: #fff;
  text-align: center;
}
.title p:first-child {
  font-size: 5.5em;
}
.title p:nth-child(2) {
  font-size: 3em;
}